<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flux</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png">
    
    
</head>
<body>
    {{>navbar}}
    {{>home}}

    <section class="about-us my-5" id="about-us">
        <div class=" text-center mb-5">
            <h1 class="au-heading display-3">About Us</h1>
            <hr class="mx-auto w-25"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                    <figure class="">
                        <img src="images/pexels-pok-rie-132037.jpg" alt="image" class="img-fluid about_img">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-6 col-12 col-xxl-6 ">
                    <h1 class="display-5">Journey</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae sit molestias iure possimus? Ullam reprehenderit neque similique esse, praesentium est, inventore quos quia consequatur porro doloribus? Reiciendis, praesentium vero!</p>
                    <bl>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illo aliquid sapiente fuga ipsam recusandae, fugiat quam! Doloremque debitis, provident repellendus temporibus cupiditate blanditiis vero consequatur repellat sequi voluptates deserunt aperiam cum animi doloribus quisquam voluptas numquam natus excepturi iure perspiciatis tempora minima iste? Magnam amet iusto perferendis fugit. Tempora!</p>
                        

                </div>
            </div>
        </div>
    </section>
    {{>footer}}
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>